.nav-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0c4842; /* Tailwind's gray-900 */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}